<phpunit
    bootstrap="./test/config.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true">
    <php><ini name="display_errors" value="1"/></php>
    <testsuites>
        <testsuite name="naf-tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
